.hextra-max-navbar-width .hx\:font-extrabold {
  color: #c27aff !important;
}

html.dark .hextra-max-navbar-width .hx\:font-extrabold {
  color: #c27aff !important;
}

html.dark {
  background-color: #0A0A0A !important;
}

html.dark body {
  background-color: #0A0A0A !important;
}
